@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #efecf4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f7f7f7' fill-opacity='0.97'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.head{
    background-color: darkorange;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding:10px;
    position: fixed;
    z-index: 21;
    width: 100%;
}
.reseau{
    margin: 4px;
    padding-top: 10px;
}
.reseau a{
    padding-right: 15px;
    color: black;
    font-size: 30px;
    padding-top: 30px;
    transition: ease-in-out 1s;
    
}
.reseau a:hover{
    transform: scale(1);
    color:white;
    
}
.recherche{
    color: black;
    display: flex;
    margin: 10px;
    clear: both;
    
}
.recherche1 input{
     width: 300px;
     border-radius: 4px;
     height: 25px;
}
.search{
    font-size: 25px;

}
.langue a{
    padding-left: 15px;
    color:black;
    left: 4px;
    font-size: 25px;
}
.langue a:hover{
    color:white;
    font-weight: 900;
}
/*header*/
.logo{
    position: relative;
    top: -10px;
    padding-left: 10px;
    font-family:"Arizonia"; 
}
.span1{
    font-size: 60px;
    color:darkorange;
}
.header{
    top: 70px;
    position:fixed;
    display: flex;
    justify-content:space-between;
    justify-items: center;
    background-color: #120724;
    color: white;
    height: 60px;
    z-index: 20;
    width: 100%;
}

.navbar{
    padding-top: 1px;
    display: inline-flex;
    text-align: center;
    color: black;
    justify-items: center;

}
.navbar a{
    color: black;
    font-size: 25px;
    padding-left: 20px;
    text-decoration: none;
    background-color:darkorange;
    clip-path: circle(47.7% at 50% 50%);
}
/*header end*/
.navbartext{
    color: black;
    padding-right: 20px;
    text-align:end;
    padding-top: 15px;
    
}
.navbartext:hover{
    color:white;
    background-color: #120724;
    height:44px;
    width:100px;
    clip-path: circle(47.7% at 50% 50%); 
}
.registre-text a{
    position: relative;
    color: #fff;
    font-size: 22px;
    top: 10px;
    margin-right:10px ;
}
/*picturo*/
.image img{
    width: 100%;
    height: 600px;
    
}
.exam{
    position: absolute;
    top: 160px;
    text-align: center;
    right: 200px;
    font-size: 27px;
    text-transform: uppercase;
    display:block;
    justify-content:space-around;
    transition:ease-out 2s;
}
.exam h1{
    padding-top: 10px;
    color: white;
    font-family: "Arizonia";
    margin-top: 10px;
    border-radius: 100px;
    font-weight: 800;
    background-color:#120724;
    transition:ease-out 2s;
}
exam:hover{
    transform:translateX(-4px);
}
/*blok section*/
.blok{
    position: relative;
    border: 2px double white;
    width: 90%;
    height: 500px;
    color: aliceblue;
    background-color: #120724;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%238f8837' fill-opacity='0.45' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    margin-left: 70px;
    top: -140px;
}
.flex-container{
    display: flex;
    margin-top: 100px;
    margin-left: 60px;
}
.flex-container > div {
    margin: 40px;
    padding: 20px;
    font-size: 30px;
    width: 20%;
    height: 150px;
    border: 5px solid white;
}
.cocuk img{
    margin-top: 10px;
    width: 300px;
    transition: transform 2s; /* Animation */
}
.cocuk img:hover{
    transform: scale(2);
    
}
.cocuk h2{
    position: absolute;
    font-size: 30px;
    padding-left: 10px;
    background-color: darkorange;
    color: black;
    border-radius: 10px;
    top: 340px;
}
.text {
    position: absolute;
    margin-top: 40px;
    text-align: center;
    left: 600px;
}
.text h1{
    text-align: center;
    font-size: 50px;
    letter-spacing: 6px;
}
/*hospital*/

.content{
    position: relative;
    
    top:-140px;
    width: 100%;
    height: 700px;
}
.insider{
    border: 5px solid black;
    position: absolute;
    top:25px;
    left: 70px;
    width: 250px;
    height: 310px;
    color:black;
    font-weight: 900;
    
}
.asideForm{
    margin-left: 7px;
}
.content aside > strong {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #333333;
}
.content aside > strong::after {
    position: absolute;
    bottom: -17px;
    left: 0;
    content: "";
    width: 30px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    background-color: darkorange;
}
.content aside form#hospitalFilterForm {
    position: relative;
    margin-top: 49px;
    margin-bottom: 18px;
}
.content aside form#hospital strong {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #333333;
    padding-bottom: 5px;
    border-bottom: solid 1px #d8d8d8;
    margin-bottom: 3px;
    top: 50px;
}
.content aside form#hospital label {
    display: block;
    margin-bottom: 3px;
    cursor: pointer;
}
label.uniqueSelect {
    position: relative;
    opacity: 1;
    top:60px;
}
label input[type=radio] + .user-layout::after {
    transition: ease 0.1s;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 8px;
    height: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: darkorange;
    opacity: 0;
}
.uniqueSelect::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    z-index: 999999;
    user-select: none;
    cursor: default;
}
.uniqueAlfabet{
    position: relative;
    opacity: 1;
    top:70px;
}
.lokasyion{
    margin-top: 50px;
}
.locationBig{
    position: absolute;
    margin-top: 55px;
}
/*main*/
.hospitallist {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
.hospitallist li {
    transition: ease 0.5s;
    position: relative;
    display: table;
    width: 1070px;
    height: 200px;
    margin-bottom: 20px;
    padding: 15px;
    border: 10px solid #120724;
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    left: 300px;
    top: -160px;
    
}
ul.hospitallist li .image.container > img {
    transition: ease 0.5s;
    display: block;
    width: 100%;
    height: 100%;
    
}
ul.hospitallist li .image.container > img:hover {
    
    transform:scale(2);
    display: block;
    width: 100%;
    height: auto;
    
    
}
ul.hospitallist li .detail {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 73.7777777778%;
    max-width: 830px;
    padding-left: 2.6666666667%;
    
}
ul.hospitallist li .detail a.headerLink {
    display: inline-block;
    text-decoration: none;
}
ul.hospitallist li .detail strong {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
    color: black;
}
address {
    display: block;
    font-style: italic;
}
ul.hospitallist li .detail .distance {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 18px;
}
ul.hospitallist li .detail a.buttonLink {
    transition: ease 0.5s;
    position: relative;
    display: inline-block;
    width: 30%;
    max-width: 165px;
    margin-right: 3.2530120482%;
    line-height: 44px;
    background-color: #120724;
    border-radius: 30px;
    border: solid 4px darkorange;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding-left: 30px;
    white-space: nowrap;
    overflow:hidden;
    font-size: 12px;
}
ul.hospitallist li .detail .icon.call {
    width: 26px;
    height: 30px;
    background: url(../images/hospital-call-icon.png);
    background-size: 26px;
    background-repeat: no-repeat;
}
.clearFix {
    clear: both;
    height: 0;
    font-size: 0.1px;
    line-height: 0.1px;
}
ul.hospitallist li .detail a.buttonLink::after {
    transition: ease 0.2s;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 0;
    height: 0;
    border-radius: 0;
    content: "";
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.1;
}
ul.hospitallist li .detail a.buttonLink:last-of-type {
    margin-right: 0;
}

/*counter*/
.countere{
    position: relative;
    background-color: #120724;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%238f8837' fill-opacity='0.45' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    min-height: 50vh;
    margin-top: 80px;
    
}
.counter-up{
    position: relative;
    top: 250px;
    display: flex;
    align-items: center;
}


.counter-up .content{
   
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .box{
    width: calc(25% - 30px);
    border: 5px dashed #fff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    flex-direction: column;
    width: 18%;
}

.content .box .icon{
    font-size: 48px;
    color: darkorange;
}

.content .box .counter{
    font-size: 60px;
    color: white;
    font-weight: 900;
    font-family: sans-serif;
}
.content .box .texte{
    color: #ccc;
    font-weight: 700;
}

@media(max-width: 1000px){
    .counter-up{
        padding: 50px 50px 0 50px;
    }
    .counter-up .content{
   
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .content .box{
        width: calc(50% - 30px);
        margin-bottom: 50px;
    }
}
@media(max-width: 580px){
    
    .content .box{
        width: 100%;
        
    }
    .counter-up .content{
   
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
footer {
    text-align: center;
    padding: 3px;
    background-color:darkorange;
    color: black;
    height: 100px;
    
    
  }

footer a ,p{
    padding-top: 20px;
    font-size: 20px;
}




