*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    position:static;
    background-color:#a9a9b9 ;
    width: 100%; 
}


.header_colone{
    border: 2px solid white;
    height: 40px;
    background-color:#192a56 ;
    border-radius: 10px;
    color: white;
}
.header_colone h1{

}
.ligne1{
    display: inline;
    flex-direction:row-reverse;
    background-color: #a9a9b9;
}
.ligne{
    position: relative;
    background-color: #2c2c54;
    height: 50px
}
.ligne::after, .ligne::before{
    content: "";
    position: absolute;
    margin: auto;
    height: 5px;
    background:linear-gradient(315deg, rgb(219, 146, 10),red);
    width: 10%;
    top: 20%;
}
.ligne::after{
    left: 10px;
}
.ligne::before{
    right: 10px;
}
.retour{
    position: relative;
    border: 2px  solid white;
    height: 250px;
    background-color:#a9a9b9;
    width: 70%; 
    top:-250px;
    left: 220px;
    box-shadow:0 0 10px 5px #0a0024;

}

@media(max-width:981px){
    
    .ligne1{
        width: 100%; 
        background-color: red;  
    }
    .ligne{
        position: relative;
        background-color: #2c2c54;
        height: 50px;
        width: auto;
    }
    .ligne::after, .ligne::before{
        content: "";
        position: absolute;
        margin: auto;
        height: 5px;
        background-color: white;
        width: 50%;
        top: 20%;
    }
    .ligne::after{
        left: 5px;
    }
    .ligne::before{
        right: 10px;
    }
    .retour{
    position: relative;
    border: 2px  solid white;
    height: 250px;
    background-color: rgb(143, 109, 109);
    width: 90%; 
    top:-250px;
    left: 25px;
    height: 245px;
    
    }
    .navbar{
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        margin: 0;
        width: 100%;   
    }
    .logo{
        border: 2px solid white;
        padding: 5px;
    }
    .nav{
        position: relative;
       /* justify-content: space-between;*/
        padding-left: 15px;
        text-align: center;
        padding:10px;
        width: 200px;
        
        
    }
    
    .nav_home{
        position: relative;
       
        margin: 1px;
        float: left;
        top: -160px;
        height: 50px;
        text-align: left;
        border-bottom: #0a0024;

    }
    .nav_home p{
        position: relative;
        justify-content: space-between;
        border: 2px solid black;
        padding: 10px;
        top:-50px;
        background-color:#0a0024;
        color: white;
        font-weight: bolder;
        border-radius: 5px;
        float: left;
        width: 100%;
        left: -300px;
       
    }
    .nav_home hr{
        display: none;
    }
    
}

.navbar{
    display: inline-flex;
    
    float: left;
}
.logo{
    border: 2px solid white;
    padding: 5px;
}
.nav{
    top:0;
    margin: 2px;
    justify-content: space-between;
    padding-left: 200px;
}
.navbar .navbar{
    padding-left: 200px;
}
.nav_home{
    display: inline-flex;
    padding-left: 30px;
}
.nav_home p{
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 20px;
    top:150px;
    background:linear-gradient(40deg, rgb(219, 146, 10),red);
    color: white;
    font-weight: bolder;
    border-radius: 10px;
   
}
.nav_home hr{
    position: absolute;
    color: red;
    width: 10px;
    background-color: red;
    height:150px;
    margin-left: 40px;
    padding-right: 0;
    border: 2px double black;
    clip-path: polygon(60% 1%, 63% 86%, 100% 100%, 0% 100%, 37% 87%, 36% 0);
}
/*first*/

.banner{
    margin-top: -180px;
    top:-50px;
    padding: 1px 150px 10px;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a9a9b9;
    
}
.banner .content{
    max-width: 700px;
    background-color: #a9a9b9;
}
.banner .content h2{
    font-size: 50px;
    color: red;
    font-weight: bolder;
}
.banner .content p{
    font-size: 1em;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    text-align: justify;
    font-family: voice in my Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background:#a9a9b9;
}
.banner .content a{
    display: inline-block;
    background:linear-gradient(40deg, rgb(219, 146, 10),red);
    color: #0a0024;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 20px;
}
.banner .image{
    filter: invert(1);
    max-width: 400px;
    margin-left: 50px;
}
.banner .content h2{
    font-size: 2em;
}
@media(max-width:1000px){
    .first{

        padding: 10px 20px;
        flex-direction: column;
    }
    .banner {
       
        padding: 5px 10px 50px;
        flex-direction: column-reverse;
    }
    
    .banner .image{
        margin-top: -50px;
        max-width: 80%;
        margin-left: 30px;      
    }
    .banner .content h2{
        font-size: 2em;
    }
    
}
@media(max-width:1240px){
    .banner{
        margin-top: -180px;
        top:-50px;
        padding: 1px 150px 10px;
        min-height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner .content{
        max-width: 700px;
    }
    .banner .content h2{
        font-size: 3em;
        color: #fff;
    }
    .banner .content p{
        font-size: 1em;
        color: white;
    }
    .banner .content a{
        display: inline-block;
        background-color: white;
        color: #0a0024;
        padding: 8px 20px;
        text-decoration: none;
        font-weight: 700;
        margin-top: 20px;
    }
    .banner .image{
        filter: invert(1);
        max-width: 400px;
        margin-left: 50px;
    }
    .banner .content h2{
        font-size: 2em;
    }
}
/*first end*/

/*section*/
.col_text{
    background-color: #0a0024;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;  
}
.demo{ 
    background:#192a56;
    margin-bottom: 50px;
    
    
 }
.testimonial{
    top: 40px;
    background:linear-gradient(40deg, rgb(219, 146, 10),red);
    text-align: center;
    padding: 30px 30px 50px;
    margin: 0 15px 100px;
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.testimonial:before,
.testimonial:after{
    content: "";
    border-top: 40px solid #fff;
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
    
}
.testimonial:after{
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}
.testimonial .icon{
    display: inline-block;
    font-size: 80px;
    color: #bd986b;
    margin-bottom: 20px;
    opacity: 0.6;
}
.testimonial .description{
    font-size: 15px;
    color: black;
    text-align: left;
    margin-bottom: 30px;
    opacity: 1;
    font-weight: 700;
}
.testimonial .testimonial-content{
    width: 100%;
    position: absolute;
    left: 0;
}
.testimonial .pic{
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #daad86;
    overflow: hidden;
    z-index: 1;
    position: relative;
    top:-40px;
}
.testimonial .pic img{
    width: 80px;
    height: 70px;
}
.testimonial .title{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    margin: 0 0 30px 0;
    
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: white;
}
.owl-theme .owl-controls{
    margin-top: 0;
}
.owl-theme .owl-controls .owl-page span{
    width: 32px;
    height: 10px;
    background: #fff;
    border: 2px solid #bd986b;
    margin: 5px;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background:#192a56;
    border-color: red;
}
@media only screen and (max-width: 650px) and (min-width: 400px){
    .testimonial:before{ border-right: 325px solid transparent; }
    .testimonial:after{ border-left: 325px solid transparent; }
}
/*footes section*/
.footes{
    background-color:#a9a9b9;
}
.timeup{
    background-color:#192a56;
}
.timeup::before{
    content: '';
    position: absolute;
    left: 90%;
    width: 10px;
    height: 1420px;
    background:linear-gradient(40deg, rgb(219, 146, 10),red);
}
.timeup::after{
    content: '';
    position: absolute; 
    top:811px;
    left: 10%;
    width: 10px;
    height: 1420px;
    background:linear-gradient(40deg, rgb(219, 146, 10),red);
}
@media(max-width:980px){
    .footes{
        width: 100%;
    }
    .timeup::before{
        display: none;
        content: '';
        position: absolute;
        left: 90%;
        width: 10px;
        height: 1420px;
        background:linear-gradient(40deg, rgb(219, 146, 10),red);
    }
    .timeup::after{
        display: none;
        content: '';
        position: absolute; 
        top:1200px;
        left: 5%;
        width: 10px;
        height: 1420px;
        background:linear-gradient(40deg, rgb(219, 146, 10),red);
    }

}
.timeline{
    position: relative;
    margin: 40px auto;
    padding: 40px 0;
    width: 1000px;
    
    background-color:#192a56;
    
}
.timeline h2{
    top:2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #fff;
    font-weight: lighter;
    font-size: 30px;

}
.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 92%;
    background: rgb(14, 13, 13);
}
.timeline ul{
    margin: 0;
    padding: 0;
}
.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both; 
}
.contine{
    padding-bottom: 20px;
}
.contine h3{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.contine p{
    text-align: justify;
    font-weight: 900;
    color: #fff;
}
.timeline ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background:linear-gradient(40deg, rgb(219, 146, 10),red);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99,0.2);
}
.timeline ul li:nth-child(even)::after{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99,0.2);
}
.timeline ul li .time h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.timeline ul li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background:linear-gradient(40deg, rgb(219, 146, 10),red);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px  rgb(219, 146, 10);
}
.timeline ul li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background:linear-gradient(40deg, rgb(219, 146, 10),red);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px  rgb(219, 146, 10);
}
@media(max-width:981px){
    .timeline{
        width: 100%;
       
    }
    .timeline::before{
        height: 95%;
    }
    .timeline ul li:nth-child(even){
        float: right;
        text-align: left;
        clear: both; 
    }
    .timeline ul li:nth-child(even)::before{
        content: '';
        position: absolute;
        top: 24px;
        right: -6px;
        width: 10px;
        height: 10px;
        background: rgba(233, 33, 99, 1);
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(233, 33, 99,0.2);
    }
}
/*footes end*/
/*foor*/


.foor1{

    background:#192a56;
    height: auto;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 63% 75%, 51% 90%, 37% 75%, 0% 75%);
}
.main {
    width: 100%;
    margin: auto;
    
  }
  
.main h2 {
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    word-break: break-all;
    color: #fff;
    padding-bottom: 0px;
  }
  
  .row {
    margin: 10px -16px;
    border-radius: 50%;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 15px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width:25%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 15px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  #myBtnContainer{
      text-align: center;
      border-radius: 10px;
  }
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background:linear-gradient(40deg, rgb(219, 146, 10),red);
    cursor: pointer;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  } 
/*carousel*/

/*foor*/
/*footer star*/


.col-md-3{
    display: inline-flex;
    justify-content: space-between;
    padding-left: 120px;
    margin-top: 50px;
    
}
.index-social{
    background:linear-gradient(40deg, rgb(219, 146, 10),red);
    color:#fff;
    top: 5;
    
}
.link-area .fa-li{
    width:40px;
    height:40px;
    border-radius:50%;
    border:solid 1px #fff;
    list-style-type:none;
    margin:5px;
    display:inline-block;
    background:linear-gradient(40deg, rgb(219, 146, 10),red);
}
.index-social a{
    color:#fff;
    font-size:25px;
    display:block;
    float:left;
    padding:10px;
}
.index-link h3{
    text-align:center;
   color:#f1f1f1;
   text-align:left;
   
}
.index-link{
    position: relative;
    background-color:#192a56;
    width: 100%;
    height: 300px;
    top:10px

    
}
.link-area p{
    font-size: 20px;
    font-weight: 100;
    width: 400px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}
.index-link ul{
    padding:10px;
}
.index-link ul li{
    list-style-type:none;
}
.index-link ul li a{
  text-decoration:none;
  font-size:16px;
  color:#fff;
  display:block;
  padding:5px 0;
  text-align:left;
}
.index-link ul li a:hover{
     text-decoration:underline;
}
.copy-c{

    text-align: center;
    font-size: 15px;
    font-weight: 100;
}
/*footer end*/
.signup{
    position: relative;
    float: right;
    color:white;
    text-align: right;
    font-size: 20px;
    top: -30px;
    padding-right: 50px;
}
@media(max-width:981px){
    .index-link{
        position: relative;
        background-color:#192a56;
        width: 100%;
        height: 700px;
        top:10px;
        float: inline-start;
    }
    .link-area{
        position: relative;
        float: left;
        left: -100px;
       
    }
}



